body {
    background-image: url("leaves-pattern.png");
    /* color: #fcc; */
}

#main {
    text-align: center;
}

.header {
    font-family: "Merienda One";
}

#image {
    display: block;
    border-radius: 50%;
    max-width: 380px;
    height: 380px;
    width: 85%;
    object-fit: cover;
    object-position: 0 0;
    margin: auto;
}